@model FamilyPhotos.ViewModel.PhotoViewModel


<div class="page-header">
    <h2>Kép törlése</h2>
</div>



@using (Html.BeginForm(FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.id)
    @Html.DisplayForModel()
<div class="col-md-5 offset-1">
    @Html.ActionLink("Vissza", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
    <input type="submit" value="Törlés" class="btn btn-danger col-md-2" />
</div>

}

