<!DOCTYPE html>
<html>
<head>

    <title>A fotóalbum</title>
        <style type="text/css">
            body {
                background-color: silver;
            }
        </style>
   @RenderSection("style", required: false)

</head>
<body>
    @RenderBody()
</body>
</html>
    



