<!DOCTYPE html>
<html>
<head>
    
	<title>A fotóalbum</title>
    <style type="text/css">
        body{
            background-color: burlywood;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
    



