<!DOCTYPE html>
<html>
<head>

    <title>A fotóalbum</title>

    @*<style type="text/css">
                body {
                    background-color: silver;
                }
            </style>
        @rendersection("style", required: false)*@

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    @*<style type="text/css">
        body {
            background-color: wheat;
        }
    </style>*@


    <style type="text/css">
            .coral{
                background-color:coral;
            }
            .coral .kiveteles{
                background-color:red;
            }
            .coral .kiveteles .kiveteles2{
                background-color:white
            }
        </style>

</head>
<body class="coral kiveteles">

    @RenderBody()
    <script type="text/javascript" src="~/script/jquery.js"></script>
    @RenderSection("script",false)
</body>

</html>
    



