<!DOCTYPE html>
<html>
<head>

    <title>A fotóalbum</title>
    @*<style type="text/css">
                body {
                    background-color: silver;
                }
            </style>
        @rendersection("style", required: false)*@

    
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    @*<style type="text/css">
        .coral{
            background-color:coral;
        }
        .coral .kiveteles{
            background-color:red;
        }
        .coral .kiveteles .kiveteles2{
            background-color:white
        }
    </style>*@
</head>
<body>
    @RenderBody()
</body>
</html>
    



