<!DOCTYPE html>
<html>
<head>

    <title>A fotóalbum</title>
    @*<style type="text/css">
                body {
                    background-color: silver;
                }
            </style>
        @RenderSection("style", required: false)*@

    
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
    



